/* index.css or global.css */
@import url("https://fonts.googleapis.com/css2?family=Rambla&family=Poppins&family=Pragati+Narrow&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
  z-index: 0;
}
.slider-custom {
  z-index: 10;
}
@media screen and (min-width: 720px) {
  .testimonial-slider .slick-slider {
    padding-left: 50px !important;
  }
  .testimonial-slider .slick-list {
    padding-left: 50px !important;
  }
  .testimony {
    margin-bottom: 15px;
  }
}
