/* index.css or global.css */
@import url("https://fonts.googleapis.com/css2?family=Rambla&family=Poppins&family=Pragati+Narrow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
  z-index: 0;
}
.slider-custom {
  z-index: 10;
}
.slick-slider {
  padding-left: 50px !important;
}
.slick-list {
  padding-left: 50px !important;
}
.testimony {
  margin-bottom: 15px;
}
@media screen and (max-width: 720px) {
    .slick-slider {
        padding-left: 0 !important;
      }
      .slick-list {
        padding-left: 0 !important;
      }
      .testimony {
        margin-bottom: 0px;
      }
}
